.navbar {
    background-color: rgb(158, 175, 170);
    font-weight: bold;
    width: 100vw;
    height: 35px;
    color: black;
    display: flex;
}

#Home {
    text-align: left;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

#navspace {
    flex-grow: 1;
}

#Account, #Signout {
    color: black;
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

#Appointment {
    color: white;
    margin-right: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}