body {
    height: 100vh;
    /* background-color: whitesmoke; */
    background-image: url('../to-do-assets/background.jpg');
  }
  
  .app {
    font-family: sans-serif;
    align-items: center;
  }
  